﻿@using WebMvc.Views
@model WebSanatorium.Api.Doctor

@{
    ViewBag.Title = "Детальная информация о сотруднике";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>


<div>
    <hr />
    <table width="100%">
        <tr >
            <td width="50%" valign="top">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Old)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Old)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Specialties)
                    </dt>
                    <dd>
                        @Html.ListBox("Id", Model.Specialties.Select(d => new SelectListItem()
                        {
                            Text = d.Name,
                            Value = d.Id.ToString()
                        }).AsEnumerable())
                    </dd>
                </dl>
            </td>
            <td>
                @{ var file = "/Content/DoctorImgs/" + Model.Photo; }
                <span><img src="@file" width="200" />&nbsp;&nbsp;</span>
            </td>
        </tr>
    </table>
</div>



<p>
    @Html.ActionLink(Str.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Str.ToList, "Index")
</p>
