﻿@using WebMvc.Views
@using WebSanatorium.Api
@model WebSanatorium.Api.Doctor

@{
    ViewBag.Title = "Изменений данных о сотруднике";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>



@using (Html.BeginForm("Edit", "Doctors", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Photo)
    <table width ="100%">
            <tr>
                <td width="50%">
                    <table width="100%">
                        <tr>
                            <td width="50%">
                                @Html.LabelFor(model => model.FullName, htmlAttributes: new {@class = "control-label col-md-2"})
                            </td>
                            <td>
                                @Html.EditorFor(model => model.FullName, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.FullName, "", new {@class = "text-danger"})
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                @Html.LabelFor(model => model.Old, htmlAttributes: new {@class = "control-label col-md-2"})
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Old, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Old, "", new {@class = "text-danger"})
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                @Html.LabelFor(model => model.Specialties, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @{ //Подготовка списка для ListBox
                                    var specialties = ((IEnumerable<Specialty>)ViewBag.Specialties).Select(x => new SelectListItem
                                    {
                                        Text = x.Name,
                                        Value = x.Id.ToString()
                                    }).AsEnumerable();
                                }
                                @Html.ListBoxFor(model => model.Specialties, specialties , new {htmlAttributes = new {@class = "form-control"}})
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                @Html.LabelFor(model => model.Photo, htmlAttributes: new {@class = "control-label col-md-2"})
                            </td>
                            <td>
                                <input type="file" name="upload"/>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                            </td>
                            <td>
                                <input type="submit" value=@Str.Save class="btn btn-default" />
                            </td>
                        </tr>
                      </table>
                </td>
                <td>
                    @{ var file = "/Content/DoctorImgs/" + Model.Photo; }
                    <span><img src="@file" width="200" />&nbsp;&nbsp;</span>
                </td>
            </tr>
        </table>
  
}

<div>
    @Html.ActionLink(Str.ToList, "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
