﻿@using WebMvc.Views
@model IEnumerable<WebSanatorium.Api.Doctor>

@{
    ViewBag.Title = "Сотрудники";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

<p>
    @Html.ActionLink(Str.Create, "Create")
</p>

<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @{ var file = "/Content/DoctorImgs/" + item.Photo; }
            <span><img src="@file" width="70" />&nbsp;&nbsp;</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>

        <td>
            @Html.ActionLink(Str.Edit, "Edit", new {id = item.Id}) |
            @Html.ActionLink(Str.Details, "Details", new {id = item.Id}) |
            @Html.ActionLink(Str.Delete, "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
