﻿@using WebSanatorium.Api
@{
    var sanatorium = Sanatorium.GetInstance();
    ViewBag.Sanatorium = sanatorium.Name;
    ViewBag.Phone = String.Join(", ", sanatorium.Phones);
}

<p class="lead">@ViewBag.Sanatorium</p>
<p class="lead">@ViewBag.Phone</p>
    

