﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Sanatorium web site</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="jumbotron">
    <table width="100%"><tr>
        <td width="70%">@Html.Partial("_HeadPartial")</td>
        <td align="right">@Html.Partial("_LoginPartial")</td>
    </tr></table>
</div>
        <div class="navbar navbar-inverse ">
            <div class="container">

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                        <li>@Html.ActionLink("Фотогалерея", "Photogallery", "Home")</li>
                        <li>@Html.ActionLink("Номера", "Rooms", "Home")</li>
                        <li>@Html.ActionLink("Бронирование", "Order", "Home")</li>
                        <li>@Html.ActionLink("Лечение", "MedicalServices", "Home")</li>
                        <li>@Html.ActionLink("Персонал", "Doctors", "Home")</li>
                        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
