﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Sanatorium web site</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="jumbotron">
    <table width="100%">
        <tr>
            <td width="70%">@Html.Partial("_HeadPartial")</td>
            <td align="right">@Html.Partial("_LoginPartial")</td>
        </tr>
    </table>
</div>
        <div class="navbar navbar-inverse ">
            <div class="container">

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Фотогалерея", "Photogal", "Admin")</li>
                        <li>@Html.ActionLink("Номера", "Index", "Rooms")</li>
                        <li>@Html.ActionLink("Бронирования", "Index", "Orders")</li>
                        <li>@Html.ActionLink("Лечение", "Index", "Specialties")</li>
                        <li>@Html.ActionLink("Персонал", "Index", "Doctors")</li>
                        <li>@Html.ActionLink("Отчеты", "Reports", "Admin")</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
