﻿@using WebMvc.Views
@model WebSanatorium.Api.Room

@{
    ViewBag.Title = "Удаление номера";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Действительно хотите удалить номер?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureFile)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Str.Delete  class="btn btn-default" /> |
            @Html.ActionLink(Str.ToList, "Index")
        </div>
    }
</div>
