﻿@using WebMvc.Views
@model WebSanatorium.Api.Room

@{
    ViewBag.Title = "Детальная информация о номере";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <table width="100%">
        <tr>
            <td width="50%" valign="top">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Number)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Number)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RoomClass)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RoomClass.Name)
                    </dd>

                </dl>
            </td>
            <td>
                @{ var file = "/Content/RoomImgs/" + Model.PictureFile; }
                <span><img src="@file" width="800" />&nbsp;&nbsp;</span>
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink(Str.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Str.ToList, "Index")
</p>
