﻿@using WebMvc.Views
@using WebSanatorium.Api
@model WebSanatorium.Api.Room

@{
    ViewBag.Title = "Редактирование номера";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Edit", "Rooms", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PictureFile)

    <table width="100%">
        <tr>
            <td width="50%">
                <table width="100%">
                    <tr>
                        <td width="50%">
                            @Html.LabelFor(model => model.Number, htmlAttributes: new {@class = "control-label col-md-2"})
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Number, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Number, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">
                            @Html.LabelFor(model => model.RoomClass, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        
                            @{ //Подготовка списка для dropdown
                                var classList = ((IEnumerable<RoomClass>) ViewBag.RoomClassList).Select(x => new SelectListItem
                                {
                                    Text = x.Name,
                                    Value = x.Id.ToString()
                                }).AsEnumerable();
                        }
                        <td>
                            @Html.DropDownListFor(m=>m.RoomClass.Id, classList, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.RoomClass.Id, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">
                            @Html.LabelFor(model => model.PictureFile, htmlAttributes: new {@class = "control-label col-md-2"})
                        </td>
                        <td>
                            <input type="file" name="upload"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%"></td>
                        <td>
                            <input type="submit" value=@Str.Save class="btn btn-default"/>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                @{ var file = "/Content/RoomImgs/" + Model.PictureFile; }
                <span><img src="@file" width="400" />&nbsp;&nbsp;</span>
            </td>
        </tr>
    </table>
    </div>
}

<div>
    @Html.ActionLink(Str.ToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
