﻿@using WebMvc.Views
@model IEnumerable<WebSanatorium.Api.Room>

@{
    ViewBag.Title = "Номера";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink(Str.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomClass.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @{ var file = "/Content/RoomImgs/" + item.PictureFile; }
            <span><img src="@file" width="70" />&nbsp;&nbsp;</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomClass.Name)
        </td>
        <td>
            @Html.ActionLink(Str.Edit, "Edit", new { id = item.Id }) |
            @Html.ActionLink(Str.Details, "Details", new { id = item.Id }) |
            @Html.ActionLink(Str.Delete, "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
