﻿@using WebMvc.Views
@model string []
@{
    ViewBag.Title = "Photogalery";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
   
<h2>Фотографии санатория</h2>
@using (Html.BeginForm("Upload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>Для загрузки фотографии &nbsp;</td>
            <td><input type="file" name="upload" /></td>
            <td>и нажмите кнопку &nbsp; <input type="submit" value="Загрузить" /></td>
        </tr>
        <tr><td><p>&nbsp;</p></td></tr>
    </table>
}
@{
    foreach (var imgFile in Model)
    {
        var file = "/Content/Files/" + imgFile;

        <span><img src="@file" width="200" />&nbsp;&nbsp;</span>
    }
}

