﻿@using WebMvc.Models
@model List<WebSanatorium.Api.ClientPermit>
@{
    ViewBag.Title = "Проживание клиентов в санатории";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Вернуться к меню отчетов", "Reports") </p>
<p>@Html.ActionLink("Задать другой отчетный период", "ReportByClientsCreteria") </p>

@{
    var clients = Model.Select(x => new
    {
        Fio = x.Client.FullName,
        Room = x.Room.Number,
        BeginDate = x.BeginDate,
        EndDate = x.EndDate
    });

    var period = (Period)ViewBag.Period;

    }
    <p>
        Отчетный период с <b>@period.BeginDate.ToShortDateString()</b> по <b>@period.EndDate.ToShortDateString()</b>
    </p>
    <table width="100%" class="table">
        <tr>
            <th>
                <p>ФИО клиента </p>
            </th>
            <th>
                <p>Номер комнаты</p>
            </th>
            <th>
                <p>Дата заезда</p>
            </th>
            <th>
                <p>Дата выезда</p>
            </th>
        </tr>
        @{
            foreach (var client in clients)
            {
                <tr>
                    <td>@client.Fio</td>
                    <td>@client.Room</td>
                    <td>@client.BeginDate.ToShortDateString()</td>
                    <td>@client.EndDate.ToShortDateString()</td>

                </tr>

            }
        }
    </table>


