﻿@model List<WebSanatorium.Api.Doctor>
@{
    ViewBag.Title = "Специализация врачей в санатории";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("К меню отчетов", "Reports") </p>


@{
    var specialties = Model.SelectMany(x => x.Specialties.Select(s=> new
                        {
                            Fio = x.FullName,
                            Specialty = s.Name
                        }));
}
<table width="100%" class="table">
        <tr>
            <th>
                <p>ФИО Врача</p>
            </th>
            <th>
                <p>Название специальности</p>
            </th>
        </tr>
        @{
            foreach (var doctor in specialties)
            {
                <tr>
                    <td>@doctor.Fio</td>
                    <td>@doctor.Specialty</td>
                </tr>

            }
        }
    </table>


         
