﻿
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Отчеты</h2>
<hr/>

<h3>@Html.ActionLink("Проживание клиентов в санатории", "ReportByClientsCreteria")</h3>
<h3>@Html.ActionLink("Специализация врачей в санатории", "ReportBySpecialty")</h3>