﻿@using WebMvc.Views
@model WebMvc.Models.Period
@{
    ViewBag.Title = "Сроки проживания клиентов в санатории";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<hr/>

@using (Html.BeginForm("ReportByClientsCreteria"))
{
    <p>Задайте отчетный период</p>
    <dl class="dl-horizontal">
        <dt>
            Начало периода
        </dt>

        <dd>
            @Html.EditorFor(m => m.BeginDate, new { htmlAttributes = new { @class = "form-control" } })
        </dd>
        <dt>
            Конец периода
        </dt>

        <dd>
            @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control" } })
        </dd>
        <dd>
            <input type="submit" value="Показать отчет" class="btn btn-default"/>
        </dd>
    </dl>
}


