﻿@model WebSanatorium.Api.Sanatorium

@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1>Наши контакты</h1>
</div>

<h2>Как с нами связаться?</h2>
<address>

    @{
        <p>тел.:</p>
        foreach (var phone in Model.Phones)
        {

            <p>&nbsp;&nbsp;@phone</p>
        }
    }
</address>

<h2>Как до нас добраться?</h2>
<div class="row">
    <div class="col-md-4">
        <img src="/Content/SanatoriumSite.jpg" />
    </div>

</div>
