﻿@{
    ViewBag.Title = "Doctors";
}
<div class="jumbotron">
    <h1>Персонал/сотрудники</h1>
</div>

@{
    foreach (var specialty in Model)
    {
            <hr />
            <h3>@specialty.Name</h3>
            <hr/>

            foreach (var doctor in specialty.Doctors)
            {
                <table><tr><td>
                        @{ var file = "/Content/DoctorImgs/" + doctor.Photo; }
                        <img src="@file" width="70" />
                    </td>
                    <td valign="top">
                        <span> &nbsp;&nbsp;@doctor.FullName</span>
                    </td>
                    </tr></table>
            }
    
        }
    
}