﻿@using WebSanatorium.Api;
@model IList<Specialty>
@{
    ViewBag.Title = "Doctors";
}

<div class="jumbotron">
    <h1>Персонал/сотрудники</h1>
</div>

@{
    var grid = new System.Web.Helpers.WebGrid(Model);//new WebGridMvc.WebGrid<Specialty>(source: Model, );
    grid.GetHtml(
        columns: grid.Columns(
    grid.Column("Name", header: "Название"),
    grid.Column("Service", header: "Услуга"))
        );

}