﻿@model WebSanatorium.Api.Sanatorium

@{
    ViewBag.Title = "About";
    
}

<div class="jumbotron">
    <h1>О санатории</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Описание</h2>
        <p>@Model.Description</p>
    </div>
    <div class="col-md-4">
        <img src="/Content/Sanatorium.jpg" />
    </div>
   
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Проведение досуга</h2>
        <p>
            @{
                foreach (var service in Model.RestServices)
                {
                    <ul>@service</ul>
                }
            }
        </p>
    </div>

    <div class="col-md-4">
        <h2>Что-то еще</h2>
        <p>Любая дополнительная информация</p>
    </div>
</div>
