﻿@model IList<string> 
@{
    ViewBag.Title = "MedicalServices";
}
<div class="jumbotron">
    <h1>Медицинские услуги</h1>
</div>

@{
    foreach (var service in Model)
    {
        <p>@service</p>
    }
}