﻿@using WebMvc.Views
@model WebSanatorium.Api.Order

@{
    ViewBag.Title = "Ваша заявка под номером " + Model.Id + " принята";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
</div>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdultCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdultCount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ChildrenCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChildrenCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InputDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InputDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsWithTherapy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsWithTherapy)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("На главный экран", "Index") |
        @Html.ActionLink("Добавить новую", "Order") |

        @using (Html.BeginForm("OrderDelete", "Home", FormMethod.Post, new { id = Model.Id }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Отменить заявку" class="btn btn-default" />

            </div>
        }
    </p>
