﻿@model string[] 
@{
    ViewBag.Title = "Photogalery";
}
<div class="jumbotron">    <h1>Фотогалерея</h1></div>

@{
    foreach (var imgFile in Model)
    {
        var file = "/Content/Files/" + imgFile;

        <span><img src="@file" width="200" />&nbsp;&nbsp;</span>
    }
}
