﻿@model IList<WebSanatorium.Api.Room> 
@{
    ViewBag.Title = "Rooms";
}
<div class="jumbotron">
    <h1>Номера</h1>
</div>

@{
    for( int i=0; i < Model.Count; i=i+2)

    {
        <table width ="100%">
            <tr valign="top">
                <td width ="50%">
                    @{ var room1 = Model[i]; }
                    <p>
                        <b>@room1.RoomClass.Name @room1.Number</b><br/>

                        @{ var file = "/Content/RoomImgs/" + room1.PictureFile; }
                        <span>&nbsp;&nbsp;<img src="@file" width="400" /></span>
                    </p>
                </td>
                <td >
                    
                    @{if (i + 1 < Model.Count)
                        {

                            var room2 = Model[i + 1];
                            <p>
                                <b>@room2.RoomClass.Name @room2.Number</b><br/>

                                @{ file = "/Content/RoomImgs/" + room2.PictureFile; }
                                <span>&nbsp;&nbsp;<img src="@file" width="400" /></span>
                            </p>
                        }
                    }
                   </td>
            </tr>
        </table>
        

    }
}