﻿@using WebMvc.Views
@model WebSanatorium.Api.Order

@{
    ViewBag.Title = "Отказ удаления бронирования № " + Model.Id;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title"</h2>

<h3>Невозможно удалить заявку с уже зарегистрированным клиентом?</h3>


<div class="form-actions no-color">
           
    @Html.ActionLink(Str.ToList, "Index")
</div>

