﻿@using WebMvc.Views
@model WebSanatorium.Api.Specialty

@{
    ViewBag.Title = "Услуга";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doctors)
        </dt>

        <dd>
            @Html.ListBox("Id", Model.Doctors.Select(d=> new SelectListItem()
            {
                Text = d.FullName,
                Value = d.Id.ToString()
            }).AsEnumerable())
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Str.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Str.ToList, "Index")
</p>
