﻿@using WebMvc.Views
@model IEnumerable<WebSanatorium.Api.Specialty>

@{
    ViewBag.Title = "Лечение";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(Str.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service)
        </td>
        <td>
            @Html.ActionLink(Str.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(Str.Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(Str.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
